//LOCATION: remax/public
@import "compass";
@import "app";
@import "foundation";
@import "settings";
@import "sassybuttons";


* {
	vertical-align: top;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
/* =navPanel starts here */
/* =variables*/
$colorNavPanel: #393939;
$colorButtonBackground: #428CB9;
$colorLogoWrapper: #F6F6F6;
$colorFontGray: #525252;
$colorSlash: #AAAAAA;
$colorFontOffWhite: #F7F7F4;
$copyrightBackgroundColor: #3F3F3F;
$colorRed: lighten(#B92025, 10%);
$myTextShadow: #FFFFFF 1px 1px 0px;
$colorBlue: #396C95;
/*=mixins*/
@mixin marginOneEmTopLeft{
	margin-left:1em;
	margin-top: 1em;
}

@mixin myButtonStyle {
	background-color: lighten($colorNavPanel, 15%) !important;
	margin-top: .5em !important;
	margin-bottom: .5em !important;
	margin-right: 7em !important;
	border-color: lighten($colorNavPanel, 15%) !important;
	color: $colorFontOffWhite;
}

@mixin logoWrapperStyle{
	padding: 10px;
	background-color: darken($colorLogoWrapper, 10%);
}

@mixin mailIconStyle {
	padding-left:10px;
	padding-top:0px;
	padding-bottom:0px;
	
}

@mixin mainContentStyle{
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: $colorLogoWrapper;
}
@mixin findFormStyle {
	display: inline-block;
	font-weight:bold;
	color: $colorFontGray;
}

@mixin slashBefore{
	color: $colorSlash;
	content: "/";
	position: relative;
	// top: -3px;
}
@mixin footerStyle{
	background-color: darken($colorLogoWrapper, 10%);
	padding-top: 10px;
}
@mixin contactFooterStyle{
	// padding-left: 10px;
	font-size: 11px;
	font-weight: bold !important;
	// margin-left: 10px;
	margin-top: 3px !important;
	margin-bottom: 11px !important;
	display: inline-block;
	min-width: 180px;
}
@mixin propertiesFooterStyle{
	font-weight: bold;
	display: inline-block;
	margin-bottom: 5px;
	color: $colorNavPanel;
	text-shadow: $myTextShadow;
	min-width: 150px;
}

@mixin connectFooterStyle{
	display: inline-block;
	font-size: 11px;
	float: left;
	font-weight: bold;
	text-shadow: $myTextShadow;
	border-bottom: 1px solid $colorNavPanel;
	padding-bottom: 8px;
	margin-bottom: -38px;
}
@mixin myThLiStyle{
	margin-bottom: 0px !important;
	margin-right: 0px !important;
	padding-bottom: 0px !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
@mixin myPanelStyle {
	margin-top: 15px;
	padding-bottom: 0px !important;
	padding-top: 15px !important;
	
}
h2, h3, h4{
	color: $colorFontGray !important;
}
h1{
	color: $colorNavPanel !important;
	font-size: 35px !important;
	line-height: 40px !important;
}
h3{
	font-size: 22px !important;
}
.ulWorkWith{
	
	p{
		font-size:12px !important;
		line-height: 22px !important;
	}
}
.about-us{

	p{
		font-size:13px !important;
		line-height: 22px !important;
	}
}
.companyName{
	font-size: 17px !important;
}
.name{
	h1{

		font-size: 17px !important;
	}
	a{
		color: $colorFontOffWhite; 
	}
}
.navPanel{
	background-color: $colorNavPanel;

}
.top-bar{
	margin-bottom: 0 !important;
	background-color: $colorNavPanel !important;
}
.top-bar-section ul li > a {
	background-color: $colorNavPanel !important;
	font-size: 12px !important;
	letter-spacing: 1px !important;
}
.toggle-topbar, .top-bar.expanded .title-area{
	background-color: $colorNavPanel !important;
}
.logoWrapper{
	@include logoWrapperStyle;

	.callUs{
		color: $colorRed;
		text-shadow: $colorFontOffWhite 1px 1px 0px;
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
	}
	.callUsContent{
		margin-top: 10px !important;
		text-align: right;
		padding:0px;
	}

	.contactTextStyle{
		font-size: 10px;
		font-weight: bold;
		margin-top: 5px;
		color: $colorFontGray;
		display: inline-block;
	}

	.HeaderWrapper{
		padding-right: 0px !important;
	}
	.connectWithContent{
		margin-bottom: 10px;
		padding: 0px !important;
	}
	.residentialCommercialContent{
		padding: 0px !important;

	}
	.realEstateRC{
		font-family: 'Roboto Slab', serif;
		color: #4B4F54;
		font-size: .6em;
		margin-top: 1px;
		text-shadow: $myTextShadow;
		margin-left: -50px;
		letter-spacing:1px;
	}
	.logoContent{
		padding: 0px !important;
		width: 120px !important;
	}
}
// .phoneMailHomeWrapper{
// 	padding: 0px !important;
// }
.sloganText{
	p{
		font-family: 'Noto Serif', ​serif;
		font-size: 17px;
		margin-bottom: 0px !important;
		color: $colorBlue;
		font-weight: bold;
		text-shadow: $myTextShadow;
		letter-spacing: 1px;
		line-height: 30px;
	}	
	padding: 0px !important;
	margin-top: 15px;
	
}
.sloganTop{
	margin-left: 15px;
}
.oneStopService{
	// margin-top: -10px;
	// padding-top: 35px;
	text-align: center;
	margin-left: -30px;
	
	// font-weight: bold;
	// font-size: 16px;
	// padding-right:0px;
	// padding-left: 0px !important;
}	

.oneStopText{
	color: $colorFontOffWhite;
	font-size:14px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: -65px;
}
.imgService{
//margin-top: -50px;
}

.customerTips{
	padding: 0px !important;
	width: 260px;
	margin-top: -70px;
	margin-right: -100px;
	font-weight: bold;
	color: $colorFontGray;
	text-shadow: $myTextShadow;
	
}
.ulCustomerTips{
	// margin-left: 100px;
	font-size: 13px !important;
	line-height: 20px;
}

.buyOrSell{
	margin-left: -20px;
}
.invOpportunity{
	@extend .buyOrSell;
}
/*  =call us style starts here*/


.iconMailHome{
	margin-top: 35px;
	text-align: right;
	margin-bottom: -5px;
	padding:0px;
}
.mailIcon{
	@include mailIconStyle;
}

.homeIcon{
	@extend .mailIcon;
}


/* =mainContent starts here */
#mainContent{
	@include mainContentStyle;
	
		dt{
			font-size: 13px !important;
		}
		dd{
			font-size: 13px !important;
		}
		.menues{
		p{
			font-size: 13px !important;
		}
	}
		
}
/*  =home page starts here*/
.selectedProperty{
	letter-spacing: 1px;
}
.ulWorkWith{
	li{
		margin-left: 20px;
		font-size: 13px !important;
	}
}

/* =find starts here */
.section-container.auto > section .content{
	background-color: #FBFBFB;
}
.submitSearch{
	font-size: 11px !important;
	letter-spacing: 1px;
	text-shadow: $myTextShadow;
}
.sectionWidth{
	font-size: 12px !important;
	font-weight: bold;
	padding-left: 14px !important;
	text-shadow: $myTextShadow;

}
.find{
	@include findFormStyle;
}
.findInput{
	margin-bottom: 15px !important;
}
label{
	margin-bottom: .5em;
	font-size: 12px !important;
}
.propertiesAllert{
	text-align: center;
	color: $colorNavPanel;
	font-size: 11px !important; 
	letter-spacing: 1px;
}
.propertiesAllert:hover, .propertiesAllert:active{
	color: lighten($colorNavPanel, 25%);
}
.priceStyle{
	font-weight: bold !important;
	color: $colorFontOffWhite !important;
	background-color: lighten($colorNavPanel, 20%) !important;
}


.showAllListings{
	margin-bottom: 10px !important;	
	button, .button {
		@include myButtonStyle;
		font-size: 11px !important;
		letter-spacing: 1px;
		word-spacing: 2px !important;
	}
	button:hover, button:focus, .button:hover, .button:focus{
		background-color: $colorNavPanel !important;
	}
}
.listingsAlertBox{
	margin-bottom: 10px !important;
}
.listingImage{
	margin-left: 0px !important;
	margin-top: 5px !important;
}
.alert-box{
	margin-bottom: .5em !important;
}	

.addressColor{
	a{
		color: $colorFontGray;
	}
	a:hover{
		color: lighten($colorFontGray, 10%);
	}
}
.button.secondary{
	color: $colorFontGray !important;
}

/* news start here */
.readMore{
	font-size: 9px;
	letter-spacing: 1px;
}
.newsHead{
	color: $colorFontGray !important; 
	font-size: 18px !important;
	text-shadow: $myTextShadow !important;
}
.newsHead:hover{
	color: lighten($colorFontGray, 10%);
}
.newsHead:active{
	color: lighten($colorFontGray, 10%);

}
.newsHeadHover{
	font-size: 14px !important;
	font-weight: bold;
	p{
		font-size: 10px !important;
	}
}
.newListingsTitle{
	color: $colorFontGray;
	font-size: 16px;
	letter-spacing: 1px;
}
.newListingsTitle:hover{
	color: lighten($colorFontGray, 10%);
}
.newListingsTitle:active{
	color: lighten($colorFontGray, 10%);

}
article p{
	font-size: 10px;
	line-height: 1.7em; 
	margin-bottom: .5em;
}
.pNews{
	font-size: 10px !important;
}
.breadcrumbs {
	border:none !important;
	padding: 0px  !important;
	li a{
		font-size: 9px !important;
		
	}
}
.breadcrumbs li:before {
	@include slashBefore;
}

/* =welcome style starts here */
.welcome{
	text-align: center;
	line-height: 55px !important;
}

/* =newListings style starts here  */
.listingSection{
	padding-right: 0px 	!important;
	padding-left: 0px 	!important;
	input[type="text"]{
		font-size: 12px !important;
	}
	.content{
		padding: 14px !important;
	}
}
.newListings{
	@include myPanelStyle;
	.liNewListings{
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
}
.imgNewListings{
	width: 75px;
}
.ullistings{
	display: inline-block;
	padding-left: 15px;
}
ul.newListings li{
}

.priceStyle{
	font-size: 15px;
	margin-top: -10px; 
}
.oneListing{
	font-size:12px;
	h5{
		color: $colorFontGray;
		font-size: 16px;
	}
}
/* =newListings style ends here  *

/* =our agents style starts here */
.ulagents{
	overflow: auto;
	display: inline-block; 
	a{
		text-align: center;
	}
}

ul.ulagents li {
	font-size: 12px;
	color: $colorNavPanel;
	display: inline-block;
	text-shadow:$myTextShadow;
	text-align: center !important;
	font-weight: bold;
	letter-spacing: .04em;
}

.ourAgents{
	@include myPanelStyle;
	margin-bottom: 0px !important;
	.carousel{
		margin-left: -12px !important;
	}
	.liAgents{
		margin-bottom: 0px !important;
		margin-right: 0px !important;
		padding-bottom: 0px !important;
		padding-right: 0px !important;
		padding-left: 0px !important;
		text-align: center !important;
	}
	.agentLink{
		color: $colorNavPanel;
		font-size: 10px !important;
	}
	.agentLinkLast{
		font-size: 10px !important;
		color: $colorNavPanel;
		margin-top: -5px;
		display: inline-block;
		margin-bottom: 10px;
	}
	.agentLink:hover{
		color: lighten($colorNavPanel, 15%);
	}
	.agentLinkLast:hover{
		color: lighten($colorNavPanel, 15%);
	}
}

/* =agent profile starts here */

.specialties{
	font-size: 12px;
}
.agentName{
	margin-bottom: 5px 	!important;
	font-size:27px !important;
}
.specialist:hover, .specialist:focus{
	color: $colorFontOffWhite !important;
}
.info{
	margin-top: 25px !important;
	padding-bottom: 15px !important;
	padding-top: 0px !important;
}
.innerInfo{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.agentProp{
	margin-top: 10px;
}
.logoS{
	margin-top:5px;
	display: inline-block;
}
.profileContent{
	padding-right: 25px !important;
	padding-left: 25px !important;
}
/*=footer starts here */
.logoFooterPadding{
	@include marginOneEmTopLeft;
}
.logoRemaxFooter{
	@include marginOneEmTopLeft;
}
.connectFooter{
	@include connectFooterStyle;
	

}
.vcard{
	border: 0em;
	margin-bottom: 0em !important;
	// margin-left: 10px;
	min-width:170px;
}
.vcard .fn{
	font-size: 12px;
}
.vcard .street-address{
	font-size: 12px;
}
.vcard .locality{
	font-size: 12px;
}
.vcard .state{
	font-size: 12px;
}
.vcard .zip{
	font-size: 12px;
	display: inline-block;
}
.vcard .email{
	a{
		font-size: 11px !important;
	}
}
footer{
	@include footerStyle;
	.row .columns{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.prop{
		font-size: 11px !important;
	}
	.row.ul.li.a{
		color: $colorFontOffWhite;
		cursor: pointer;
	}
}

.contactFooter{
	@include contactFooterStyle;
	hr { 
		display: block; 
		height: 1px;
		border: 1px solid $colorNavPanel;
		padding: 0; 
		margin-bottom: 5px !important;
		margin-top: 0px !important;
	}

}
.ulFooterSocial{
	margin: 0px !important;
	padding-top: 10px !important;
	// padding-left: 10px;
	// border-top: 1px solid $colorFontGray;

}
.liFooterConnect{
	padding-right: 0px !important;
	padding-left: 0px !important;
	width: 45px !important;
	height: 45px !important;
	hr { 
		display: block; 
		height: 1px;
		border: 1px solid $colorNavPanel;
		padding: 0; 
		margin-bottom: 5px !important;
		margin-top: 0px !important;
	}
}
.liFooterConnectRight{
	padding-right: 0px !important;
	padding-left: 0px !important;
	width: 32px !important;
	height: 45px !important;
	hr { 
		display: block; 
		height: 1px;
		border: 1px solid $colorNavPanel;
		padding: 0; 
		margin-bottom: 5px !important;
		margin-top: 0px !important;
	}
}
.social{
	padding-top: 10px;
	width: 125px;
	hr { 
		display: block; 
		height: 1px;
		border-top: 1px solid $colorNavPanel;
		padding: 0; 
		margin-bottom: 5px !important;
		margin-top: 0px !important;
	}
}
.mls{
	margin-top: 70px;
}
.properties{

	margin-left: 15px;
	font-size: 10px;
	line-height: 20px;
	color: 	$colorBlue;
	margin-left: 0px;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: $myTextShadow;
}

.propertiesFooter{
	@include propertiesFooterStyle;
	// border-bottom: 1px solid $colorFontGray;
}
.copyright{
	background-color: $copyrightBackgroundColor;
	padding-top: 10px;
}
.copy{
	color: $colorFontOffWhite !important;
}
/* =Contact Us */
textarea{
	height: 300px;
	cursor: pointer;
}
fieldset legend{
	background-color: $colorLogoWrapper !important;
}

.min{
	margin-top: 20px !important;
}

.createAccount{

	.account{
		margin-top: 15px !important;
		margin-bottom: 25px !important;
	}

	label{
		font-size: 1em;
		margin-bottom: 10px;
	}
	.button{
		@include myButtonStyle;		
	}
}
.contactModal{
	font-size: 27px !important;	
}