//LOCATION: remax/public
@import "compass";
@import "app";
@import "foundation";
@import "settings";
@import "sassybuttons";


* {
	vertical-align: top;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
/* =navPanel starts here */

button{
	@include sassy-button("glass", 10px, 19px, #4ba3cc);
}
.navPanel{
	background-color: #313131;
	.button{
		background-color:#428CB9 !important;
		margin-top: .5em !important;
		margin-bottom: .5em !important;
		margin-right: 7em !important;
	}
	.button:hover{
		background-color:darken(#428CB9, 10%)!important;
	}
}
.top-bar{
	margin-bottom: 0 !important;
	background-color: #313131 !important;
}
.top-bar-section ul li > a {
	background-color: #313131 !important;
}
.toggle-topbar, .top-bar.expanded .title-area{
	background-color: #313131 !important;
}
.loginWrapper{
	background-color: darken(#313131, 8%);

}
.logoWrapper{
	padding: 10px;
	background-color: darken(#F6F6F6, 10%);
	.button{
		background-color:#428CB9 !important;
		margin-left: 5px;
	}
	.button:hover{
		background-color:darken(#428CB9, 10%)!important;
	}
}

.call{
	font-size: 20px;
	color: #FFFFFF;
	line-height: 28px;
	margin-right: 15px;
	p{
		text-align: right;
	}
}
.alert-box {
	background-color: #2BA6CB;
	border-color: #2284A1;
	border-style: solid;
	border-width: 1px;
	color: white;
	display: block;
	font-size: 0.875em;
	font-weight: bold;
	margin-bottom: 1.25em;
	padding: 0.6875em 1.3125em 0.5em 0.6875em;
	position: relative;
}
.icon{
	margin-top: 80px;
	text-align: right;
}
.mailIcon{
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
}

.homeIcon{
	@extend .mailIcon;
}

// #element_to_pop_up { 
// 	display:none; 
// }

/* =mainContert starts here */

#mainContent{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:#F6F6F6;
	.small-block-grid-3 > li{
		margin-bottom: 15px !important;
	}
	h4{
		margin-bottom: 9px !important;
	}
	article a{
		color: #393939 !important;
	}
	section a{
		color: #393939 !important;
	}
	section a:hover{
		color: lighten(#393939, 15%)!important;
	}
	article a:hover{
		color: lighten(#393939, 15%)!important;
	}
}
	.panel{
		padding-bottom: 20px !important;
		margin-bottom: 10px;
	}
article p{

	font-size: .8em;
	line-height:1.7; 
	margin-bottom: .5em;
		// text-align: justify ;
	}
	.breadcrumbs{
		border:none !important;
		padding: 0px  !important;
	}
	.breadcrumbs li:before {
		color: #AAAAAA;
		content: "/";
		position: relative;
		top: 1px;
	}
	.breadcrumbs li:before {
		color: #AAAAAA;
		content: "/";
		position: relative;
		top: -3px;
	}
	// .readMore{
	// 	color: #2BA6CB !important;
	// }
	// .readMore:hover{
	// 	color: darken(#2BA6CB, 10%)!important;
	// }
	.orbit-container{
		height:400px;
		margin-bottom: 1em;
	}

	/* =find starts here */

	.find{
		display: inline-block;
		font-weight:bold;
		margin-bottom: 25px;
		font-size: 20px;
		color: #525252;
	}
	.findInput{
		margin-bottom: 15px !important;
	}
	label{
		margin-bottom: .5em;
	}
	/* news start here */
	.readMore{
		font-size: 0.6em;
	}

	/*=footer starts here */
	.logoPadding{
		margin-left:1em;
		margin-top: 1em;
	}
	.logoFooter{
		margin-left:1em;
		margin-top: 2em;
	}
	.connectFooter{
		display: inline-block;
		font-size: 11px;
		float: left;
		font-weight: bold;
	}
	.vcard{
		border: 0em;
		margin-bottom: 0em !important;
	}
	.vcard .fn{
		font-size: 12px;
	}
	.vcard .street-address{
		font-size: 12px;
	}
	.vcard .locality{
		font-size: 12px;
	}
	.vcard .state{
		font-size: 12px;
	}
	.vcard .zip{
		font-size: 12px;
		display: inline-block;
	}
	.vcard .email{
		a{
			font-size: 11px !important;
		}
	}
	footer{
		background-color: darken(#F6F6F6, 10%);
		padding-top: 10px;

		.row .columns{
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		.prop{
			font-size: 11px !important;
		}
		.row.ul.li.a{
			color: #F7F7F4;
			cursor: pointer;
		}
	}
	[class*="block-grid-"] {
		display: block;
		margin: 0 10px !important;
		padding: 0;
	}
	.contactFooter{
		padding-left: 10px;
		font-size: 11px;
		font-weight: bold !important;
		margin-left: 10px;
		margin-top: 5px !important;
		margin-bottom: 10px !important;
		display: inline-block;
	}
	.social{
		padding-top: 10px;
		// padding-bottom: 20px;
  // margin-left: 5px; 
}
.mls{
	margin-top: 70px;
	text-align: bottom;
}
.properties{
	margin-left: 15px;
}
.propertiesFooter{
	font-weight: bold;
  // margin-top: 3px !important;
  display: inline-block;
  margin-bottom: 5px;
  color: #393939;
}
.copyright{
	background-color: #3F3F3F;
	padding-top: 10px;
	a{
		color: #F7F7F4;
	}
}
.copy{
	color: #FFFFFF !important;
}
/* =Contact Us */
textarea{
	height: 300px;
	cursor: pointer;
}
