//LOCATION: remax/public
@import "compass";
@import "app";
@import "foundation";
@import "settings";
@import "sassybuttons";


* {
	vertical-align: top;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}
/* =navPanel starts here */
/* =variables*/
$colorNavPanel: #393939;
$colorButtonBackground: #428CB9;
$colorLogoWrapper: #F6F6F6;
$colorFindFormFont: #525252;
$colorSlash: #AAAAAA;
$colorFontOffWhite: #F7F7F4;
$copyrightBackgroundColor: #3F3F3F;
$colorRed: lighten(#B92025, 10%);

/*=mixins*/
@mixin myButtonStyle {
	background-color: $colorButtonBackground !important;
	margin-top: .5em !important;
	margin-bottom: .5em !important;
	margin-right: 7em !important;
}

@mixin logoWrapperStyle{
	padding: 10px;
	background-color: darken($colorLogoWrapper, 10%);
}

@mixin mailIconStyle {
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	
}

@mixin mainContentStyle{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $colorLogoWrapper;
}
@mixin findFormStyle {
	display: inline-block;
	font-weight:bold;
	margin-bottom: 25px;
	font-size: 20px;
	color: $colorFindFormFont;
}

@mixin slashBefore{
	color: $colorSlash;
	content: "/";
	position: relative;
	top: -3px;
}
@mixin footerStyle{
	background-color: darken($colorLogoWrapper, 10%);
	padding-top: 10px;
}
@mixin contactFooterStyle{
	padding-left: 10px;
	font-size: 11px;
	font-weight: bold !important;
	margin-left: 10px;
	margin-top: 3px !important;
	margin-bottom: 10px !important;
	display: inline-block;
}
@mixin propertiesFooterStyle{
	font-weight: bold;
	display: inline-block;
	margin-bottom: 5px;
	color: $colorNavPanel;
}

@mixin connectFooterStyle{
	display: inline-block;
	font-size: 11px;
	float: left;
	font-weight: bold;
}
/* .button{
	background-color: $colorButtonBackground !important;
	margin-left: 5px;
}
.button:hover{
	background-color:darken( $colorButtonBackground, 10%)!important;
	} */
	.navPanel{
		background-color: $colorNavPanel;

	}
	.top-bar{
		margin-bottom: 0 !important;
		background-color: $colorNavPanel !important;
	}
	.top-bar-section ul li > a {
		background-color: $colorNavPanel !important;
	}
	.toggle-topbar, .top-bar.expanded .title-area{
		background-color: $colorNavPanel !important;
	}
	.logoWrapper{
		@include logoWrapperStyle;
		.th{
			border-width: 1px !important;
		}
		// [class*="block-grid-"]{
		// 	margin-right: 5px !important;
		// 	margin-left: 5px !important;
		// }
		
		.small-block-grid-3 > li{
			width: 20px !important;
			margin-left: 5px !important;
		}
		.callUs{
			color: $colorRed;
			text-shadow: #FFFFFF 1px 1px 0px;
			font-size: 20px;
			font-weight: bold;
			display: inline-block;
		}

		.contactTextStyle{
			// @include connectFooterStyle;
			font-size: 12px;
			font-weight: bold;
			margin-top: 5px;
			color: $colorNavPanel;
			display: inline-block;
		}
		.callHeader{
			// font-size: 11px;
			// font-weight: bold;
			// margin-bottom: 5px;
			// color: $colorNavPanel;

			@extend .connectHeader;
			margin-top: 10px;
		}
		.connectHeaderWrapper{
			padding-right: 0px !important;
		}
		.connectWithContent{
			margin-bottom: 10px;
		}
		.outstandingAgents{
	// font-family: 'Roboto Slab', serif;
	// font-family: 'Numans', sans-serif;
	// font-family: 'Noto Sans', sans-serif;
	font-family: 'Archivo Black', sans-serif;
	// font-style: italic; 
	// font-weight: bold;
	word-spacing: .1em;	
	letter-spacing: 3px;
	font-size: 1.3em;
	color: $colorRed;
	// color: #FFFFFF;
	margin-bottom: 0.4em;
	text-shadow: #03669E 1px 1px 0px
}

.outstandingResults{
	@extend .outstandingAgents;
	padding-left: 120px;
}
}
.logoPaddingHeader{
	margin-top: 5px;
}
.realEstateRC{
	font-family: 'Roboto Slab', serif;
	color: #4B4F54;
	font-size: .7em;
	margin-top: 3px;
	text-shadow: #FFFFFF 1px 1px 0px;
	margin-left: -75px;
}

/* =create an account style starts here */
.createAccount{

	.account{
		margin-top: 15px !important;
		margin-bottom: 25px !important;
	}

	label{
		font-size: 1em;
		margin-bottom: 10px;
	}
	.button{
		@include myButtonStyle;		
	}
}
/* =create an account style ends here*/

/* =socialHeader starts here */



/*  =call us style starts here*/
.callPanel{
	// background-color: lighten(#393939, 60%);
	border-color: $colorRed !important;
	background-color: #DDDDDD;
	// padding: 10px !important;
}
.phoneImg{
	margin-bottom: 5px;
}
.icon{
	// margin-top: 10px;
	text-align: right;
}
.mailIcon{
	@include mailIconStyle;
}

.homeIcon{
	@extend .mailIcon;
}


/* =mainContent starts here */
#mainContent{
	@include mainContentStyle;

	.small-block-grid-3 > li{
		margin-bottom: 15px !important;
		margin-right: 0px !important;
	}
	h4{
		margin-bottom: 9px !important;
	}

	section{
		.newListings{
			color: $colorNavPanel;
		}

	}
	.panel{
		padding-top: 15px !important;
	}
}


.panel{
	padding-bottom: 0px !important;
	margin-bottom: 10px;
} 
.orbit-container{
	height:400px;
	margin-bottom: 1em;
}

/* =find starts here */


.find{
	@include findFormStyle;
}
.findInput{
	margin-bottom: 15px !important;
}
label{
	margin-bottom: .5em;
}
.advanceSearch{
	font-size: 12px !important;
}
.propertiesAllert{
	text-align: center;
}
.priceStyle{
	font-weight: bold !important;
	color: $colorRed !important;
}
.small-block-grid-3 > li{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.carousel{
	margin-top: 5px !important;
	margin-left: -10px !important;
}
.showAllListings{
	button, .button {
		@include myButtonStyle;
	}
	button:hover, button:focus, .button:hover, .button:focus{
		background-color: darken($colorButtonBackground, 10%) !important;
	}
	
}
.alert-box{
	margin-bottom: .5em !important;
}	
/* news start here */
.readMore{
	font-size: 0.6em;
}
.newsTitle{
	color: $colorNavPanel; 
}
.newsTitle:hover{
	color: lighten($colorNavPanel, 15%);
}
.newsTitle:active{
	color: lighten($colorNavPanel, 15%);
	
}
.newListingsTitle{
	color: $colorNavPanel; 
}
.newListingsTitle:hover{
	color: lighten($colorNavPanel, 15%);
}
.newListingsTitle:active{
	color: lighten($colorNavPanel, 15%);
	
}
article p{
	font-size: .8em;
	line-height: 1.7em; 
	margin-bottom: .5em;
}
.breadcrumbs{
	border:none !important;
	padding: 0px  !important;
}
.breadcrumbs li:before {
	@include slashBefore;
}
/* =our agents style starts here */
.agentLink{
	font-size: 12px;
}
.specialties{
	font-size: 12px;
}
.agentName{
	margin-bottom: 5px 	!important;
}
.specialist:hover, .specialist:focus{
	color: #FFFFFF !important;
}
.info{
	margin-top: 25px !important;
	padding-bottom: 15px !important;
	padding-top: 0px !important;
}
.innerInfo{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.agentProp{
	margin-top: 10px;
}
.logoS{
	margin-top:5px;
	display: inline-block;
}
.min{
// background-color: #DDDDDD !important;
}
/*=footer starts here */
@mixin marginOneEmTopLeft{
	margin-left:1em;
	margin-top: 1em;
}
.logoPadding{
	@include marginOneEmTopLeft;
}
.logoRemaxFooter{
	@include marginOneEmTopLeft;
}
.connectFooter{
	@include connectFooterStyle;
}
.vcard{
	border: 0em;
	margin-bottom: 0em !important;
}
.vcard .fn{
	font-size: 12px;
}
.vcard .street-address{
	font-size: 12px;
}
.vcard .locality{
	font-size: 12px;
}
.vcard .state{
	font-size: 12px;
}
.vcard .zip{
	font-size: 12px;
	display: inline-block;
}
.vcard .email{
	a{
		font-size: 11px !important;
	}
}
footer{
	@include footerStyle;
	.row .columns{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.prop{
		font-size: 11px !important;
	}
	.row.ul.li.a{
		color: $colorFontOffWhite;
		cursor: pointer;
	}
}
/* [class*="block-grid-"] {
	display: block;
	margin: 0 10px !important;
	padding: 0;
	} */
	.contactFooter{
		@include contactFooterStyle;
	}
	.social{
		padding-top: 10px;
	}
	.mls{
		margin-top: 70px;
	}
	.properties{
		margin-left: 15px;
	}
	.propertiesFooter{
		@include propertiesFooterStyle;
	}
	.copyright{
		background-color: $copyrightBackgroundColor;
		padding-top: 10px;
	}
	.copy{
		color: $colorFontOffWhite !important;
	}
	/* =Contact Us */
	textarea{
		height: 300px;
		cursor: pointer;
	}
	fieldset legend{
		background-color: $colorLogoWrapper !important;
	}